@use './partials/variable' as *;
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
// GENERAL
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif; //font corretto non trovato
}
figure{
    margin: 0
}
img{
    width: 100%;
}
ul{
    margin: 0;
}
//UTILITYS
.blue-text{
    color: $blue-text-color;
}
.secondary-text{
    color: $gray-text-color
}
.my-btn{
    background-color: transparent;
    border-color: $blue-color;
    padding:6px 0 ;
    text-align: center;
    width: 200px;
    height: 45px;
    color: $white-color;
}
// STRUCTURE
.wrapper{
    height: 100vh;
    background-color: $black-color;
}
header{
    background-color: $white-color;
}
main{
    color: $white-color;
}
.content-section{
    background-color: $black-color;
}
.functions-section{
    background-color: $blue-color;
    color:white;
    figure{
        width: 35px;
    }
}
.links-section{
    background-image: url('../image/footer-bg.jpg');
    color: white;
    overflow:hidden;
    figure{
        border: 1px solid red;
        overflow: visible;
        width: 100px;
        height: 100px;
        object-position: center;
    }
    img{
        width: 30vw;
        transform: translate(-75%,-25%);
    }
}
.icons-section{
    background-color: $gray-color;
}


